.grid{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(220px,1fr));
    padding: 16px;
    gap: 16px;
}
.item{
    padding: 18px;
    border-radius: 8px;
    border: 3px solid black-;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: green;
transition: transform 0.3s, ease box-shadow 0.3s,ease;
}
.item:hover{
            
    transform: scale(1.05);/*zoom*/
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.15);
}
/*animation*/
